@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

h1 {
  font-size: 30px;
  line-height: 1.6;
}

h2 {
  font-size: 20px;
  line-height: 1.6;
}

body {
  color: black;
  background-color: blanchedalmond;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
}

a {
  color: blueviolet;
  text-decoration: underline;
}

img {
  max-width: 20%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}
.card-white {
  background: white;
  padding: 30px;
}
.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.list-inline {
  display: inline-block;
  padding: 0px 20px;
}
